name: Deploy to Kubernetes via ArgoCD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Extract commit SHA
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Build and push Docker image
      run: |
        docker build -t andres0118/prueba-devsecops:${{ steps.vars.outputs.sha_short }} .
        docker push andres0118/prueba-devsecops:${{ steps.vars.outputs.sha_short }}

    - name: Update values.yaml with new image tag
      run: |
        sed -i "s/tag: .*/tag: \"${{ steps.vars.outputs.sha_short }}\"/" helm/prueba-devsecops/values.yaml

    - name: Commit and push updated values.yaml
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}
        git add helm/prueba-devsecops/values.yaml
        git commit -m "Update image tag to ${{ steps.vars.outputs.sha_short }}"
        git push